<p><b>Name:</b> <%= @recipe.name %></p>

<p><b>Ingredients:</b> <%= @recipe.ingredients %></p>

<p><b>Cook Time:</b> <%= @recipe.cook_time %></p>

<form action="/recipes/<%=@recipe.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Name: <input type="text" name="name"></p>
    <p>Ingredients: <input type="textarea" name="ingredients"></p>
    <p>Cook Time: <input type="text" name="cook_time"></p>
    <input type="submit" value="submit">
</form>